<%- include('./partials/navbar') %>
    <%- layout('./layout/boilerplate') %>
        <div class="container">
            <form action="/books/<%=fetchBook._id %>?_method=PATCH" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Title" aria-label="title" name="title"
                        value="<%=fetchBook.title %>">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Author" aria-label="author" name="author"
                        value="<%=fetchBook.author %>">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Image URL" aria-label="imageURL"
                        name="imageURL" value="<%=fetchBook.imageURL %>">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Publishing Year" aria-label="publishYear"
                        name="publishYear" value="<%=fetchBook.publishYear %>">
                </div>
                <button type="submit" class="btn btn-success">Add New Book</button>
            </form>
        </div>